include pug/_mixins
<!DOCTYPE html>
html(lang="ru_RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title О чем молчат мужчины» бесплатный онлайн-интенсив
		link(rel="stylesheet", href="css/styles.css")
	body
		include pug/header
		include pug/first_section
		include pug/second_screen
		include pug/third_screen
		#plan
			include pug/fourth_screen
			include pug/fifth_screen
			include pug/bonus
			include pug/sixth_screen
			include pug/bonus_2
			include pug/seventh_screen
		include pug/scripts
	