// Бонус 2
section#bonus_2
	.container.wow.fadeIn(data-wow-duration="3s" data-wow-offset="20")
		.col-3_left
			p.bonus БОНУС 
		.col-mid
			.col_inner
		.col-3_right
			p.ten 10 
			p.secrets_block
				span.secrets секретов&nbsp;
				small  обоюдного счастья
		.clfix