// Пятый экран
section#fifth_screen
	.container
		h3 ДЕНЬ 
			span 2
		h4.wow.bounceInLeft(data-wow-offset="200") ВИП ДЕНЬ С ЭВЕЛИНОЙ БЛЁДАНС
		ol.day_2_ol
			li 
				span Как суметь построить карьеру и при этом остаться привлекательной женщиной, любящей женой и заботливой матерью
			li 
				span Вся правда о сложностях в отношениях
			li 
				span Страхи и сомнения. Как побороть страх одиночества 
			li 
				span Измены. Мифы и правда о мужских изменах
			li 
				span Счастье материнства. Рожать для себя или ждать «подходящего момента»
			li 
				span Мужчина мечты. Каким он должен быть и что сделать для встречи с ним
		img(src="img/evelina_2.png", alt="Эвелина Блёданс").evelina_2
		.clfix