// Четвертый экран
section#fourth_screen_1
	.container
		h3 План интенсива
		img(src="img/divider.png", alt="Разделитель")
		h4 День 1
		ol.day_1_ol
			li 
				span Как стать женщиной, о которой мечтают мужчины
			li 
				span О чем нам никогда мужчины не расскажут
			li 
				span В чем мы, женщины, никогда не признаемся мужчинам, а после за это на них обидимся 
			li 
				span Как не ошибиться и узнать «своего» мужчину
			li 
				span Как понять под какую задачу «пришел» мужчина. И чем отличается мужчина по судьбе от мужчины под задачу
			li 
				span 10 кардинальных отличий мужской и женской психологии