include menu
// Шапка
section#header
	.container
		a(href="/").logo_link
			img(src="img/logo.png", alt="Логотип")
			a(href="callto:8-499-346-79-46").callto 
				img(src="img/call.jpg", alt="Позвонить") 
				|  8-499-346-79-46
		.clfix
		.contacts
			a(href="mailto:info@mastervision.su").mailto 
				img(src="img/mail.jpg", alt="Написать на почту") 
				|  info@mastervision.su
			a(href="skype:add?admin-mastervision").skypeadd 
				img(src="img/skype.jpg", alt="Добавить в Скайп") 
				|  admin-mastervision
		.clfix