// Меню
#menu_icon
		span.upper_span
		span.middle_span
		span.lower_span
nav#menu
	
	.container
		ul.menu_ul
			li
				a(href="#third_screen") Вам это знакомо?
			li
				a(href="#plan") План интенсива
			li
				a(href="#") Об авторе
			li
				a(href="#") Гостья интенсива
			li
				a(href="#") Что Вы получите
			li
				a(href="#") Стоит придти, если
			li
				a(href="#") Как все будет
			li
				a(href="#") Отзывы
