// Второй Экран
section#second_screen
	.container

		img(src="img/divider.png", alt="Разделитель").divider
		.wrapper
			.video(data-youtube="NiAryie74TU")
				img.img-thumbnail.video__img(src="img/meet.jpg", alt="Видео")
		img(src="img/divider.png", alt="Разделитель").divider
