// Седьмой экран
section#seventh_screen
	.container
		h4 День 4
		ol.day_4_ol
			li
				span Где «водятся» мужчины
			li
				span Как попасть в его «поле зрения»
			li
				span Что мы, женщины, делаем неправильно, раз привлекаем «не тех» в свою жизнь?
			li
				span 6 основных типажей, которые необходимо знать
			li
				span Типажи для встреч, типажи для отношений, почему с годами они не меняются?
			li
				span Какой типаж подойдет именно Вам, а с каким отношения не удасться построить