// Шестой экран
section#sixth_screen
	.container
		h4 День 3
		img(src="img/3_dark_icons.png", alt="3 иконки").tree_dark_icons
		ol.day_3_ol
			li
				span Отношения. 5 стадий, которые необходимо пройти  для достижения прочных, гармоничных отношений
			li
				span Мифы и заблуждения об отношениях
			li
				span 10 моделей поведения разрушающих любовь
			li
				span Мужчина-врун. Что необходимо знать о его прошлом
			li
				span 10 способов стать ему «своей»
			li
				span Техника «Просьба без просьбы». Как получать от него подарки, помощь и заботу