@media (min-width: 1367px)
	#first_section
		background-image url(../img/first_screen_background.jpg)
		background-size cover
		background-repeat no-repeat
		background-attachment scroll
		background-position center
		margin-top 0
	#first_section .container h1
		padding-top 65px
	.janna,
	.evelina
		display block
@media (max-width: 1280px)
	#first_section 
	#third_screen
		background-size cover
	#bonus_2 .container 
		width: 78%;
@media (max-width: 1220px)
	.col-3_right
		width 47%
@media (max-width: 1120px)
	.container
		width 100%
	#first_section .container h1
		padding-top: 10px;
	#menu
		padding-top 24px
	#header
		margin-top: 71px;
	.menu_ul
		width 98%
	.menu_ul li a
		padding 6px
	.first_screen_form
		top 36px
	#header .container
		padding 12px 21px 0px
	.logo_link
		margin-left 0
	#bonus_2 .container 
		width: 100%;

@media (max-width: 1024px)
	#first_section .container h1		
		font-size: 2rem;
	.date
		font-size: 3rem;
	.bullits
		font-size: 1.2rem;
		margin: 10px auto 10px;
	.first_screen_form p
		font-size 1.7em

	.evelina_2
		top: 8px;
		right: -139px;
	.bonus
		font-size 4rem
	#bonus_2 .bonus
		font-size 100px
	.secret
		padding-top 25px
@media (max-width: 1013px)
	.menu_ul li a
		font-size 1rem
	.callto
		font-size 1.8rem
@media (max-width: 960px)
	#fifth_screen
		overflow hidden
		padding-bottom: 8px;
	#bonus
		padding: 28px 42px 23px;
		text-align center
	.bonus
		font-size: 3.5rem;
		padding: 0 62px 15px 0px
	.secret
		float: none;
		line-height: 74px;
		padding-top: 0px;
		font-size: 1.6rem;
	.ten
		padding-top 20px
	.secrets_block
		display inline-block
	#bonus_2 .bonus
		font-size: 4rem;
		line-height: 4rem;
	.col-mid
		padding-top: 0;
		height: 4.5rem;
	.col-3_right
		.ten
			font-size: 4.5rem;
			line-height: 4.5rem;
			padding-top: 0;
		.secrets_block
			width: 65%;
			margin-top: 0;
@media (max-width: 800px)
	.menu_ul li a
		font-size .8rem
	#header .container
		display block
	.logo_link
		display block
	.callto
		display block
		position static
	.contacts
		float left
		width 100%
		display block
	.mailto, .skypeadd
		display inline-block
	.mailto
		float left
	.skypeadd
		float right
	.first_screen_form p
		font-size 1.5rem
	#first_section
		background-image url(../img/first_screen_background.jpg)
		padding-top 45px
	.heading
		float right
	.bullits
		width 73%
	.janna
		display: block;
		position: absolute;
		float: none;
		left: -200px;
		top: -45px;
	.col-3 h4
		font-size 1.1rem
	.risons li span
		font-size 16px
	.one::before,
	.two::before,
	.tree::before
		top: 0
	.icons
		vertical-align super
	.day_1_ol,
	.day_2_ol,
	.day_3_ol,
	.day_4_ol
		font-size 18px
	.day_1_ol li span
		line-height 3
	.day_3_ol li span
		line-height 2.4
	.day_1_ol li::before,
	.day_2_ol li::before,
	.day_3_ol li:before,
	.day_4_ol li:before
		padding 14px 20px
	.cell_head
		width 122%
	#fifth_screen h4
		font-size: 1.7rem;
	.heading
		float: none;
		text-align: right;
		margin-top: -20px;
		padding: 0 20px;
		position: relative;
		z-index: 99;
	.bullits
		transform none
		margin: 0;
		text-align: right;
		width: auto;
	.col-3
		width: 88%;
		padding: 0 20px;
		margin: 0 auto;
		float: none;
	.lower
		position static
	.cell_head
		width auto
	.icons
		vertical-align: middle;
		width: auto;
		position: static;
	#third_screen h3
		margin-bottom 20px
	.col-3 h4
		font-size 1.4rem
	#subscribe_block
		margin-top 10px
		padding 20px 0px 95px
	.day_1_ol,
	.day_3_ol,
	.day_4_ol
		width 80%
	.day_3_ol li,
	.day_4_ol li
		display table
		&:before,
		span
			display table-cell
			vertical-align middle
	.evelina_2
		bottom: -23px;
		right: -139px;
		width: 50%;
		top: auto;
	#fifth_screen h3
		font-size 3rem
		padding-top: 0px;
	#fifth_screen h4
		width auto
	.day_2_ol
		width 66%
	#bonus
		text-align center
		padding 0 10px
	.bonus
		float none
		border-right: 0;
		padding 10px
		border-bottom: 2px solid;
		width: 60%;
	#menu
		padding 0
		left -999px
	#menu_icon
		display block
	.menu_ul
		width 100%
		display block
	.menu_ul li
		display block
	.menu_ul li a
		width 90%
		margin 5px auto
		display block
		font-size 1rem
	#header
		margin-top 0
		&:after
			display none
	#want
		vertical-align bottom
	.ten
		margin-top 20px
	.secrets_block
		margin-top 0
		line-height 39px
	#bonus_2
		padding 24px 0
	.col-3_left
		width: 100%;
		text-align: center;
		float: none;
		padding: 0;
	.col-mid
		width: 100%;
		padding: 10px 0;
		height: 2px;
	.col_inner
		width 40%
	.col-3_right
		width: 50%;
		float: none;
		text-align: center;
		margin: 0 auto;
		.ten
			margin-right: 0;
			line-height: 3rem;
			font-size: 6.5rem;
		.secrets_block
			line-height: 1.1;
@media (max-width: 768px)
	.col-3_right
		width 60%
@media (max-width: 650px)
	.col-3_right
		width 70%
	.col_inner
		width 60%
@media (max-width: 640px)
	.callto
		font-size: 1.4rem
	.logo_link
		width 50%
	.logo_link img
		width: 95%;
		float: left;
	.first_screen_form p
		padding 23px
	.janna
		left -280px
	.divider
		width auto
	.secret
		padding 0
	.risons li span
		font-size 18px
	.tree_dark_icons
		display none
@media (max-width: 560px)
	.col-3_right
		width: 80%;
	.secrets_block
		width: 70%;
@media (max-width: 540px)
	#header
		margin-bottom 10px
	.logo_link
		width 100%
		margin-bottom 5px
	.logo_link img
		width auto
		float left
	.callto
		text-align: center;
		width: 100%;
	.contacts
		font-size: 1.4rem;
	#first_section
		background-image url(../img/first_screen_back_min.jpg)
		padding-top: 10px;
	.heading
		text-align center
	.bullits
		text-align left
		width: 75%;
		margin: 0 auto;
	.janna
		display none
	.day_1_ol li span,
	.day_2_ol li span,
	.day_3_ol li span,
	.day_4_ol li span
		line-height 1
	.day_2_ol li::before
		margin-bottom: 14px;
	#second_screen 
		padding: 40px 20px;
	._form #email_2
		float: none;
		display: block;
		width: 100%;
		margin-bottom: 20px;
	._form #submit_2
		float: none;
		display: block;
		width: 100%;
	#subscribe_block
		padding-bottom 20px
@media (max-width: 516px)
	#bonus_2 .container 
		width: 100% !important;

@media (max-width: 470px)
	.callto
		text-align left
	.skypeadd
		float left
	.first_screen_form #email
		float: none;
		display: block;
		width: 100%;
		margin-bottom: 20px;
	.first_screen_form #submit
		float: none;
		display: block;
		width: 100%;

	#menu_icon
		top 65px
	.evelina_2
		display none
	.secret
		line-height 1.5
		padding-bottom 10px
	.ten
		margin-top: 12px;
		font-size: 108px;
		line-height: 100px;
@media (max-width: 420px)
	#third_screen
		overflow hidden
	.logo_link
		width 90%
		margin 5px auto 10px
		float none
		img
			width 100%
	#second_screen
		padding-left 10px
		padding-right 10px
	.col-3
		width 90%
	.day_1_ol, 
	.day_2_ol,
	.day_3_ol,
	.day_4_ol
		width 90%
	.day_2_ol
		margin 35px auto 0
	.cell_head 
		width: 136%;
	.day_1_ol li span, 
	.day_2_ol li span,
	.day_3_ol li span,
	.day_4_ol li span
		float left
		width 77%
	#three_hearts
		display none
	.bonus
		width auto
	#bonus_2
		padding 28px 10px 23px
		.ten
			font-size 3rem
@media (max-width: 360px)
	.contacts 
		font-size: 1.2rem;
	.col-3 
		width: 99%;
		padding: 0 0 0 20px;
	.secrets_block small
		font-size 23px