#bonus_2
	background-image url(../img/bonus_back.jpg)
	background-size cover
	background-repeat no-repeat
	background-attachment scroll
	padding: 28px 0 23px;
	color white
	width 100%
	text-align center
	.container
		width 100%
		padding 0 10px
.col-3_left
	width: 48.4%;
	text-align: right;
	float: left;
	padding-right 10px
	.bonus
		border: 0;
		padding: 0;
		float: none;
.col-mid
	float: left;
	width: 3%;
	height: 90px;
	padding-top: 20px;
	padding-left 10px

.col_inner
	width: 3px;
	background: #fff;
	height: inherit;
	margin: 0 auto;
.col-3_right
	padding: 0 0 0 10px;
	width: 39%;
	float: left;
	text-align: left;
.ten
	font-size 112px
	float: left;
	margin-right: 10px;
.secrets_block
	text-align: left;
	margin-top: 21px;
	.secrets
		font-size 40px
		display: inline-block;
	small
		font-size 30px
		display: inline-block;