#bonus
	background-image url(../img/bonus_back.jpg)
	background-size cover
	background-repeat no-repeat
	background-attachment scroll
	padding: 28px 0 23px;
	color white
	width 100%
.bonus
	display inline-block
	font-family 'PlayfairDisplayBold', serif
	font-size 100px
	border-right 3px solid white
	padding: 0 54px 15px 85px;
	float left
.secret
	display inline-block
	font-size 32px
	font-family 'OfficinaSerifBookC', sans-serif
	padding: 46px 0 0 31px;