#third_screen
	background-image url(../img/third_screen_back.png)
	background-size contain
	background-repeat no-repeat
	background-attachment scroll
	background-position top center
	width 100%
	height auto
	.container
		position relative
	h3
		font-size 35px
		text-align center
		color white
		padding-top: 23px;
		font-weight: normal;
#mars
	position absolute
	top: 460px;
	left: -20px;
#three_hearts
	position absolute
	top 38px
	right 36px
.row
	width: 93%;
	margin: 0 auto;
.cell
	margin-bottom 20px
	padding 0 10px
	position relative
.cell_head
	width: 114%;
	position: relative;
	left: -32px;
	margin-bottom 13px
.lower
	position relative
	top 115px
.col-3
	width 33.3333%
	padding 0 20px
	h4
		color brown
		font-size 25px
		display inline-block
		font-weight: normal;
		margin-bottom 20px
.one:before
	top 0
.two:before
	top 15px
.tree:before
	top 30px
.risons
	padding 0 10px
	list-style: none;
	counter-reset: my-counter-2;
	li
		margin-bottom 15px
		counter-increment: my-counter-2;
		border-left 2px solid white
		font-size 35px
		line-height 20px
		position: relative;
		padding-left: 20px;
		&:before
			content: counter(my-counter-2);
			position absolute
			color: #a576b8
			left: -40px;
			margin-right: 15px;
			margin-bottom 2px
		span
			color white
			font-size 20px
.icons
	display inline-block
	position: relative;
	top: 11px;
	width 12%
	margin-right: 5px;

#divider_2
	margin: 45px auto 0;
	display: block;
	
#broken_heaert
	width 81%
	position relative
	top 16px
#subscribe_block
	background-image url(../img/mail_back.jpg)
	background-size cover
	background-repeat no-repeat
	background-attachment scroll
	background-position center
	border-top 9px solid white
	border-left 7px solid white
	border-right 7px solid white
	border-bottom 7px solid white
	padding 20px 75px 95px
	text-align center
	width: 92%;
	margin 120px auto 20px
	h3
		font-size: 30px;
		padding: 0;
		width: 85%;
		margin: 0 auto;
		line-height 30px
.date
	font-size 60px
	color brown
	margin-top: 10px;
._form
	width 95%
	position relative
	z-index 99
	margin 25px auto 0
	text-align center
	#email_2
		border-radius: 10px;

		width: 61.4%;

		float: left;

		padding: 25px;

		border: 0;
	
	#submit_2
		background-color: #31c51d;

		border: 2px solid #fff;

		color: #000;

		padding: 15px;

		width: 35%;

		float: right;
		font-family 'BebasNeueBold', sans-serif
		font-size 33px
		cursor pointer